body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

h1 {
    font-size: 30px;
    color:#5fbaa7;
    margin: 10px 0 5px 0;
}

.result1 {
    display: flex;
}

.input_button {
    display: flex;
    margin-bottom: 10px;
}

.input_button input{
    border: 0;  /* 设置无边框 */
    background: transparent;
    text-align: right;
    outline: 0;
}
